header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background: white;
    z-index: 10;
    .container:first-of-type{
        display: flex;
        justify-content: space-between;
        .logo{
            img{
                transition: width 1s;
            }
        }
    }
}

